*.iml
.clang-format
.clang-tidy
.clangd
.test/
build/
.preview/
/.idea
/.gradle
local.properties
*.DS_Store
tsconfig.json
node_modules
.hvigor
oh_modules
/signature/hap-sign-tool.jar
/signature/hapsign-online-plugin.jar
oh-package-lock.json5
BuildProfile.ets
product/watch/.cxx